*{
    box-sizing: border-box;
}
.Header{
    background-image: url("../../Images/header.png");   
    
    border-radius: 0px 0px 50% 0px;
}
.button{
    border: 1px solid white;
}
.header-text {
    line-height: 70px;
}
@media screen and (max-width: 680px) {
    .main-text{
        color: white ;
    }
    .get-start button{
        color: white;
        background-color: black;
    }
    .Header{
        background-color: rgb(5, 0, 70);
        background-image: none;
    }
  }