*{
    box-sizing: border-box;
}
.Header{
    background-image: url("../../Images/header.png");   
    height: 700px;
    border-radius: 0px 0px 50% 0px;
}
.button{
    border: 1px solid white;
}
.header-text {
    line-height: 70px;
}